* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --green-main: #3f703d;
  --yellow: #ffe733;
  --dark-font: #191010;
  --dark-grey: #dadada;
  --light-grey: #f4f4f4;

  --profile-pic-small-size: 50px;
  --profile-pic-big-size: 80px;

  font-size: 16px;
}

body {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr minmax(500px, 4fr);
  grid-template-rows: auto 1fr;

  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.header {
  background: var(--light-grey);
  color: var(--dark-font);

  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 6px;
  padding: 12px 0;
}

.header > div {
  display: grid;
  justify-content: space-between;
  align-items: center;
  gap: 12px;

  padding: 0 48px;
}

.top-bar {
  grid-template-columns: 2fr 1fr;
}

.bottom-bar {
  grid-template-columns: 1fr 2fr;
}

.header > div > div {
  display: flex;
  align-items: center;
  gap: 16px;

  font-weight: 700;
}

.header > div > div:last-child {
  justify-content: flex-end;
}

.header input[type="text"] {
  appearance: none;
  border: none;
  background: var(--dark-grey);
  line-height: 1.4;
  padding: 0.3em 1em;
  font-size: 1.2rem;
  border-radius: 18px;
  width: 100%;
}

.profile-section {
  font-size: 1.4rem;
}

.profile-section span {
  margin-right: 24px;
}

.welcome-msg > p ~ p {
  font-size: 1.7rem;
  padding-top: 4px;
}

.action-btn {
  outline: none;
  border: none;
  font-family: inherit;
  background: var(--green-main);
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;

  height: 48px;
  width: 128px;
  border-radius: 24px;
  padding: 0 24px;
  margin-right: 18px;
}

.sidebar {
  background: var(--green-main);
  color: #fff;

  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 48px;

  padding: 30px;
}

.sidebar .logo {
  font-size: 2.5rem;
  font-weight: 800;
}

.sidebar .top-links,
.sidebar .bottom-links {
  font-size: 1.6rem;
  font-weight: 700;
}

.sidebar li {
  padding-bottom: 14px;
}

.notifications {
  min-width: none;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.content {
  background: var(--dark-grey);
  display: grid;
  grid-template-columns: minmax(250px, 3fr) 1fr;
  gap: 18px;
  padding: 36px 24px;
}

.projects,
.announcements,
.trending {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content h1 {
  font-size: 1.7rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: max-content;
  gap: 24px;
  flex: 1;
}

.card {
  background: var(--light-grey);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.projects .card {
  padding: 36px 36px 36px 24px;
  height: 250px;
  border-left: 10px solid var(--yellow);
}

.card p {
  color: #555;
  font-size: 0.95rem;
  padding-top: 4px;
}

.announcements .card,
.trending .card {
  padding: 12px 36px;
}

.announcement {
  padding: 16px 0;
}

.announcement:not(:last-child) {
  border-bottom: 1px solid #999;
}

.announcement h2 {
  font-size: 1.3rem;
}

.trending .card {
  gap: 24px;
}

.user-card {
  display: flex;
  gap: 14px;
}

.profile-picture-small {
  width: var(--profile-pic-small-size);
  height: var(--profile-pic-small-size);
  border-radius: calc(var(--profile-pic-small-size) / 2);
}

.profile-picture-big {
  width: var(--profile-pic-big-size);
  height: var(--profile-pic-big-size);
  border-radius: calc(var(--profile-pic-big-size) / 2);
}
