* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --green-main: #3f703d;
  --yellow: #ffe733;
  --dark-font: #191010;
  --dark-grey: #aaa;
  --light-grey: #ddd;
}

body {
  height: 100vh;
  font-size: 18px;

  display: grid;
  grid-template-columns: 1fr minmax(500px, 4fr);
  grid-template-rows: 1fr minmax(250px, 5fr);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.header {
  background: var(--light-grey);
}

.sidebar {
  background: var(--green-main);
  color: #fff;

  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 48px;

  padding: 30px;
}

.sidebar .logo {
  font-size: 2.5rem;
  font-weight: 700;
}

.sidebar .top-links,
.sidebar .bottom-links {
  font-size: 1.6rem;
}

.sidebar li {
  padding-bottom: 14px;
}

.main {
  background: var(--dark-grey);
}
